header{
   position: fixed;         /* Կառուցում է հեդերը ֆիքսված վերևում */
  top: 0;                  /* Հեդերը կլինի վերևում */
  left: 0;                 /* Որպեսզի հեդերը լինի ամբողջ լայնությամբ */
  width: 100%;             /* Հեդերը կզբաղեցնի ամբողջ էջի լայնությունը */
  background-color:#3498db;  /* Ընտրովի ֆոնի գույն */
  color: white;            /* Տեքստի գույն */
  padding: 10px 20px;      /* Պատուհանի արաբեր */
  z-index: 1000;
  text-align: left;
  font-size: 20px;

}
a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;      
  font-size: 18px;            
  margin-right: 20px;         
}
form {
  background-color: white;
  width: 400px;                  
  margin: 60px auto;             
  padding: 30px;                 
  border: 2px solid #3498db;     
  border-radius: 10px;           
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  display: flex;
  flex-direction: column;  
      margin-top: 100px;
}


label {
  font-size: 16px;          
  color: #333;                   
}
input {
  padding: 12px;                 
  font-size: 16px;                
  border-radius: 6px;            
  border: 1px solid #ccc;        
}

input[type="text"] {
  margin-bottom: 8px;            
}

body {
  background-color:purple;
  background-image: radial-gradient(circle,purple, pink, blue  );    
  font-family: 'Arial', sans-serif; 
}
footer{
    background-color: #3498db;
    color:white;
    text-align: center;
    padding: 15px 40px;
    margin:auto;
    text-decoration: none;

}
.checkbox-container {
    display: flex; 
    align-items: center;  
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;  
}
.child1{
    display: flex;
    background-color: lightblue;
    width: 500px;
    border-radius: 10px;
    margin-left:10px;
}
img{
    height: 200px;
    width: 200px;
    padding-left: 5px;
    clip-path: circle(50%);

}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-top: 10px;
            font-size: 16px;
}
footer {
position: fixed;         
  bottom: 0;             
  left: 0;                 
  width: 100%; 
}
input[type="submit"] {
 background-color: #3498db;            
}
textarea{
    border-radius:6px;
}
.item{
    display: flex;
    margin-top: 70px;
}
.child1{
    text-align: center; 
            padding: 20px;  
            border: 2px solid #ccc;
            border-radius: 10px;  
}

@media only screen and (max-width:768px){
    .item{
        flex-direction: column;
    }
    .child1 {margin-bottom: 20px;}
}
.kap{
   text-align: right;
   margin-right: 30px;
}